.console-part-title {
  border-bottom: 1px solid #e7f1fe;
  padding-bottom: 5px;
  line-height: 24px;
}

.console-part-title .title-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../images/console-icon.png') no-repeat center/cover;
}

.console-part-title .title {
  font-size: 16px;
  color: #c30621;
  font-weight: bold;
}

.console-part-title .num {
  font-size: 24px;
  color: #c30621;
  font-weight: bold;
}

.active-wrap-part {
  border-radius: 10px;
  margin-top: 10px;
  padding: 20px 10px;
}

.active-wrap-part .num {
  font-size: 22px;
  color: #c30621;
}

.active-wrap-part.whole {
  text-align: center;
}

.active-wrap-part.whole p {
  display: inline-block;
}

.active-wrap-part.half {
  text-align: left;
}

.active-wrap-part.half .text {
  margin-bottom: 10px;
}

.active-wrap-part .layui-progress {
  width: 85%;
  margin-top: 10px;
  position: relative;
}

.active-wrap-part .layui-progress-bar {
  background: #f04040;
}

.active-wrap-part .progress-text {
  position: absolute;
  top: -8px;
  right: -50px;
  color: #f04040;
  font-weight: bold;
}

.chart-wrap {}

.chart-wrap .part-title {
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
}

.param-wrap {
  border: 1px solid #e1e1e1;
  padding: 10px 0;
  margin: 10px 0;
}

.param-wrap-part {
  border-right: 1px solid #e1e1e1;
  padding: 0 10px;
}

.param-wrap .layui-col-md2:last-child .param-wrap-part {
  border: 0;
}

.param-wrap-part .text {
  color: #333;
  font-size: 14px;
}

.param-wrap-part .num {
  color: #f0912d;
  font-size: 16px;
}

.param-wrap-part .unit {
  color: #333;
  font-size: 12px;
}


.chnlItem {
  background: #f1f1f1;
  padding: 5px 30px;
  border-radius: 0 10px 0 0;
  margin-right: 10px;
  cursor: pointer;
}

.chnlItem.active {
  background: #f0912d;
  color: #fff;
}

.search-input-wrap {
  position: relative;
  width: 200px;
  margin-top: 5px;
}

.search-input-wrap i {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

.layui-btn[disabled] {
  cursor: not-allowed;
  background: #f1f1f1;
}
.singleChnl-wrap .part-title{
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 20px;
}